@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "tp";
  src: url("./fonts/tp-reg.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tp";
  src: url("./fonts/tp-ita.woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "tp";
  src: url("./fonts/tp-bold.woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "ftb";
  src: url("./fonts/ftb.woff");
  font-weight: bold;
  font-style: normal;
}


html {
  font-size: 13px;
}

.katex {
  font-size: inherit;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: "tp";
  padding: 1vh 5vw;
}

pre,
code {
  font-family: monospace;
  font-size: 0.88rem;
}

textarea {
  width: 100%;
}

.repl {
  font-family: monospace;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

pre {
  padding: 0.8rem;
  border-radius: 0.2em;
  /* border-top: solid thin lightgrey; */
  /* border-bottom: solid thin lightgrey; */
  overflow-x: scroll;
  background-color: rgb(42, 50, 57);
  color: white;
}

.hljs-comment {
  color: rgb(136, 136, 136);
}
.hljs-keyword {
  color: rgb(255, 123, 123);
}
.hljs-attr,
.hljs-property {
  color: rgb(210, 149, 210);
}
.hljs-variable {
  color: rgb(255, 221, 0);
}
.hljs-built_in {
  color: rgb(109, 197, 200);
}
.hljs-string {
  color: rgb(182, 240, 165);
}

.function_ {
  color: orange;
}

p {
  margin: 3vh 0;
}
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0;
}

h1 {
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
}


.repl {
  font-size: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: ftb;
}

table,
th,
td {
  border: solid thin lightgrey;
  margin: auto;
  width: fit-content;
}
table td {
  padding: 2px;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 5vh;
}

a {
  text-decoration: underline;
  color: rgb(0, 102, 255);
}

blockquote {
  padding: 0 0 0 1em;
  width: 93%;
  border-left: solid 2px rgb(188, 188, 188);
  margin: auto;
}

figcaption {
  font-style: italic;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  color: rgb(175, 175, 175);
}

figcaption p {
  margin: 5px 0;
}

textarea {
  outline: none;
}

ul {
  list-style: disc;
  margin-left: 2vw;
}

ol {
  list-style: decimal;
  margin-left: 3vw;
}

article {
  width: clamp(300px, 70%, 600px);
  margin: 0 auto;
  margin-bottom: 50vh;
}

footer {
  display: block;
  width: fit-content;
  margin: 3vh auto;
  color: lightgray;
} 

figure {
  width: 100%;
  margin: 5px;
}

strong em {
  font-variant: small-caps;
  font-weight: bold;
  font-style: normal;
}

aside {
  color: #209797;
  font-size: 85%;
  position: relative;
  border-top: solid thin #88c6c6;
  border-bottom: solid thin #88c6c6;
}
aside p {
  margin: 1vh 0;
}
li p {
  margin: 0;
}

a {
  /* color: rgb(0, 132, 255); */
  color: inherit;
}

.toc a {
  text-decoration: none;
  color: inherit;
}

.toc h2 {
  margin: 0;
}

.toc ul {
  list-style: decimal;
}
.toc ul ul {
  list-style: lower-alpha;
}
.toc ul ul ul {
  list-style: lower-roman;
}


.algebron-fig {
  font-family: KaTeX_main;
}

/* Wide viewport */
@media (min-width: 1000px) {
  aside {
      float: right;
      clear: right;
      margin-right: -15vw;
      text-align: left;
      top: 3rem;
      width: 14vw;
      margin-top: 1rem;
  }
  article {
    margin-left: 20vw;
    /* width: 80%; */
  }
  .toc {
    background-color: white;
    z-index: 100;
    position:fixed;
    float: left;
    margin-left: -24.5vw;
    margin-top: -12vh;
    border-right: solid thin lightgrey;
    height: 97vh;
    padding: 1vh 1vw;
    width: 22vw;
  }
  .toc ul, .toc ul ul, .toc ul ul ul {
    list-style: none;
    margin: 0 .5vw;
    margin-right: 0;
  }
}
