@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "tp";
  src: url("./fonts/tp-reg.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tp";
  src: url("./fonts/tp-ita.woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "tp";
  src: url("./fonts/tp-bold.woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "ftb";
  src: url("./fonts/ftb.woff");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 13px;
}

.katex {
  font-size: inherit;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "tp";
  padding: 1vh 5vw;
}

pre,
code {
  font-family: monospace;
  font-size: 0.88rem;
}

textarea {
  width: 100%;
}

.repl {
  font-family: monospace;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: rgb(46,42,40);
  overflow: hidden;
}

pre {
  padding: 0.8rem;
  border-radius: 0.2em;
  overflow-x: scroll;
  background-color: rgb(46,42,40);
  color: rgb(181,200,180);
}

.hljs-tag {
  color: rgb(173,141,118);
  font-weight: bold;
}

.hljs-comment {
  color: rgb(136, 136, 136);
}
.hljs-keyword {
  color: rgb(249, 107, 107);
  font-weight: bold;
}
.hljs-attr,
.hljs-property {
  color: rgb(207, 175, 159);
}

.hljs-built_in {
  color: rgb(109, 197, 200);
}
.hljs-string {
  color: rgb(195,147,128);
}

.function_ {
  color: rgb(237, 161, 126);
  font-weight: bold;
}

p {
  margin: 3vh 0;
}
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0;
}

h1 {
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.repl {
  font-size: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: ftb;
}

table,
th,
td {
  margin: auto;
  width: fit-content;
}

table td {
  padding: 2px 10px;
}

th,
tr {
  border-bottom: solid thin lightgrey;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 5vh;
  margin-bottom: 0;
}

h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}

a {
  text-decoration: underline;
  color: rgb(0, 102, 255);
}

blockquote {
  padding: 8px 10px;
  width: 93%;
  /* border-left: solid 2px rgb(188, 188, 188); */
  margin: 2vh auto;
  background-color: rgb(227, 227, 227);
  border-radius: 5px;
}

blockquote p {
  margin: 0;
}

figcaption {
  font-style: italic;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

figcaption p {
  margin: 5px 0;
}

textarea {
  outline: none;
}

ul {
  list-style: disc;
  margin-left: 2vw;
}

ol {
  list-style: decimal;
  margin-left: 3vw;
}

article {
  width: clamp(300px, 70%, 600px);
  margin: 0 auto;
  margin-bottom: 50vh;
}

footer {
  display: block;
  width: fit-content;
  margin: 3vh auto;
  color: lightgray;
}

figure {
  width: 100%;
  margin: 5px auto;
}

strong em {
  font-variant: small-caps;
  font-weight: bold;
  font-style: normal;
  font-size: 1.1rem;
}

aside {
  color: #209797;
  font-size: 85%;
  position: relative;
  border-top: solid thin #88c6c6;
  border-bottom: solid thin #88c6c6;
}
aside p {
  margin: 1vh 0;
}
li p {
  margin: 0;
}

a {
  /* color: rgb(0, 132, 255); */
  color: inherit;
}

.toc a {
  text-decoration: none;
  color: inherit;
}

.toc h2 {
  margin: 0;
}

.toc ul {
  list-style: decimal;
}
.toc ul ul {
  list-style: lower-alpha;
}
.toc ul ul ul {
  list-style: lower-roman;
}

.algebron-fig {
  font-family: KaTeX_main;
}

/* Wide viewport */
@media (min-width: 1000px) {
  aside {
    float: right;
    clear: right;
    margin-right: -15vw;
    text-align: left;
    top: 3rem;
    width: 14vw;
    margin-top: 1rem;
  }
  article {
    margin-left: 20vw;
    /* width: 80%; */
  }
  .toc {
    background-color: white;
    z-index: 100;
    position: fixed;
    float: left;
    margin-left: -24.5vw;
    margin-top: -12vh;
    border-right: solid thin lightgrey;
    height: 97vh;
    padding: 1vh 0.5vw;
    width: 22vw;
  }
  .toc > ul {
    border-top: solid thin lightgrey;
    height: 90vh;
    padding-bottom: 5vh;
    overflow-y: scroll;
    margin-left: 0;
  }
  .toc ul ul,
  .toc ul ul ul {
    list-style: none;
    margin: 0 0.5vw;
    margin-right: 0;
  }
}

input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  /* width: 100%; */
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  /*  overflow: hidden;  remove this line*/

  /* New additions */
  height: 1px;
  background: #a1a1a1;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 8px;
  width: 8px;
  background-color: rgb(255, 68, 0);
  border-radius: 50%;
  border: none;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background-color: rgb(255, 68, 0);
  border-radius: 50%;
  border: none;
}

div.procedure {
  counter-reset: lineNumber -1;
  border-top: solid thin lightgray;
  border-bottom: solid thin lightgray;
  padding: 1em 0 1em 0;
  margin: 1em 1.5em;
  /* font-size: 0.9em; */
  overflow-y: scroll;
}
div.procedure blockquote {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  border-bottom: solid thin lightgray;
}
div.procedure pre {
  margin: 0;
  border-top: 0;
  border-bottom: 0;
}
/* div.procedure small { font-size: 1.1em; } */
div.procedure p {
  font-size: inherit;
  padding: 0;
  margin: 0;
}
div.procedure ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
div.procedure ol li {
  margin: 0;
  padding: 0;
  display: block;
}
div.procedure ol li::before {
  content: counter(lineNumber);
  counter-increment: lineNumber;
  font-family: KaTeX_Main;
  position: relative;
  display: inline-block;
  min-width: 10px;
}
div.procedure ol ol {
  border-left: solid thin rgb(226, 226, 226);
}
div.procedure ol {
  margin-left: 1em;
}
div.procedure li em {
  color: rgb(146, 171, 182);
  font-style: italic;
  font-size: 0.75rem;
  display: inline;
  text-align: left;
  line-height: 1.3rem;
  width: max-content;
  margin: 0;
  padding: 0;
  float: right;
}
div.procedure ol li::before {
  right: 1rem;
}
div.procedure ol li li::before {
  right: 2.1rem;
}
div.procedure ol li li li::before {
  right: 3.1rem;
}
div.procedure ol li li li li::before {
  right: 4.1rem;
}
div.procedure ol li li li li li::before {
  right: 5.1rem;
}
div.procedure ol li li li li li li::before {
  right: 6.1rem;
}
div.procedure > ol {
  margin-top: 6px;
  /* margin-left: 1em; */
}
div.procedure ul {
  list-style: none;
}
div.procedure ul {
  padding: 0;
  margin: 0;
}
div.procedure ul li {
  padding: 0;
  margin: 0;
}
div.procedure ul ul {
  padding: 0 1em;
  margin: 0;
}
/* div.procedure p:first-child span.textup {font-weight: 600;} */
/* div.procedure p:first-child {font-variant: small-caps;} */
div.procedure p:first-child {
  padding: 2px 0;
  margin-bottom: 5px;
  /* border-bottom: solid thin lightgrey; */
  font-size: 1em;
}
div.procedure li > p {
  display: inline !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0 !important;
}
